.sidebar {
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
  border-right: 1px solid #ddd;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: smooth;
}
.eve{
  text-decoration: none;
}
.sidebar h2 {
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.sidebar ul {
  
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #0b0b0b;
  font-size: 1.2rem;
  display: block; 
  padding: 10px; 
  border-radius: 5px; 
}

.sidebar ul li a:hover {
  background-color: #e9ecef;
}
